# Python cached files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Databases & local files
*.db
*.log
.env
*.lock

# IDE configurations
.idea/
.vscode/
venv/
.venv/
env/

# PyInstaller / Packaging
build/
dist/
*.spec

# Local configurations
*.env
*.db-journal
*.db-wal
*.db-shm

# Backups of legacy files
backup/

